body {
    display: grid;
    background-image: url("../img/Mesopotamia.jpg");
    background-size: cover;
    background-attachment: fixed;
    grid-template-rows: repeat(4, 160px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "whitetokensstart main blacktokensstart"
        "whitediceroll main blackdiceroll"
        "whitetokensfinished main blacktokensfinished"
        "whitetokensfinished main blacktokensfinished";
}   
#whitetokensstart {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "whttkn1"
        "whttkntext";

}
#blacktokensstart {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "blktkn1"
        "blktkntext";
}
#whitetokensfinished {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "whtcomptext"
        "whtcomp1";
    align-self: flex-end;
}
#blacktokensfinished {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "blkcomptext"
        "blkcomp1";
    align-self: flex-end;
}
main {
    display: grid;
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(3, 80px);
    grid-template-areas: 
        "w4 f5 b4"
        "w3 f6 b3"
        "w2 f7 b2"
        "w1 f8 b1"
        "blank1 f9 blank2"
        "blank3 f10 blank4" 
        "w14 f11 b14"
        "w13 f12 b13";
    justify-self: center;
}
.boarddivs {
    border: 1px solid black;
    background-color: burlywood;
}

.whitedivs {
    border-left: 5px solid gray;
}

.blackdivs {
    border-right: 4px solid saddlebrown;
}

.tknbox {
    border: 1px solid black;
}

.dicediv {
    display: inline;
}

#w1 {
    grid-area: w1;
    border-bottom: 4px solid black;
}
#w2 {
    grid-area: w2;
}
#w3 {
    grid-area: w3;
}
#w4 {
    grid-area: w4;
    border-top: 4px solid black;
    background-image: url("../img/Rosette5.png");
    background-size: cover;
}
#w13 {
    grid-area: w13;
    border-bottom: 4px solid black;

}
#w14 {
    grid-area: w14;
    border-top: 4px solid black;
    background-image: url("../img/Rosette5.png");
    background-size: cover;
}
#f5 {
    grid-area: f5;
    border-top: 4px solid black;
}
#f6 {
    grid-area: f6;
}
#f7 {
    grid-area: f7;
}
#f8 {
    grid-area: f8;
    background-image: url("../img/Rosette5.png");
    background-size: cover;
}
#f9 {
    grid-area: f9;
    border-left: 5px solid gray;
    border-right: 4px solid saddlebrown;
}
#f10 {
    grid-area: f10;
    border-left: 5px solid gray;
    border-right: 4px solid saddlebrown;
}
#f11 {
    grid-area: f11;
}
#f12 {
    grid-area: f12;
    border-bottom: 4px solid black;
}
#b1 {
    grid-area: b1;
    border-bottom: 4px solid black;
}
#b2 {
    grid-area: b2;
}
#b3 {
    grid-area: b3;
}
#b4 {
    grid-area: b4;
    border-top: 4px solid black;
    background-image: url("../img/Rosette5.png");
    background-size: cover;
}
#b13 {
    grid-area: b13;
    border-bottom: 4px solid black;
}
#b14 {
    grid-area: b14;
    border-top: 4px solid black;
    background-image: url("../img/Rosette5.png");
    background-size: cover;
}
#blank1 {
    grid-area: blank1;
}
#blank2 {
    grid-area: blank2;
}
#blank3 {
    grid-area: blank3;
    align-self: flex-end; 
}
#blank4 {
    grid-area: blank4;
    align-self: flex-end;
}

#whttkn1 {
    grid-area: whttkn1;
    background-color: aqua
}

#whttkntext {
    grid-area: whttkntext;
}
#blktkn1 {
    grid-area: blktkn1;
    background-color: aqua
}
#blktkntext {
    grid-area: blktkntext;
}
#whitetokensstart {
    grid-area: whitetokensstart;
}
#blacktokensstart {
    grid-area: blacktokensstart;
    justify-self: end;
}
#whitetokensfinished {
    grid-area: whitetokensfinished;
}
#blacktokensfinished {
    grid-area: blacktokensfinished;
    justify-self: end;
}
#whtcomp1 {
    grid-area: whtcomp1;
}
#whtcomptext {
    grid-area: whtcomptext;
    align-self: flex-end;
}
#blkcomp1 {
    grid-area: blkcomp1;
}
#blkcomptext {
    grid-area: blkcomptext;
    align-self: flex-end;
}
#whitediceroll {
    grid-area: whitediceroll;
}
#blackdiceroll {
    grid-area: blackdiceroll;
    justify-self: end;
}

.whitecircle {
    background-color:whitesmoke;
    border-radius: 100px;    
}

.blackcircle {
    background-color: black;
    border-radius: 100px;
}

#functiontestbutton {
    width: 100px;
    height: 50px;
}
#functiontestbutton2 {
    width: 100px;
    height: 50px;
}
.dicebutton {
    width: 50px;
    height: 50px;
}

.dicediv {
    background-color: aliceblue;
    font-size: xx-large;
}