body {
    display: grid;
    grid-template-rows: repeat(4, 160px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "whitetokensstart main blacktokensstart"
        "whitetokensfinished main blacktokensfinished"
        "whitetokensfinished main blacktokensfinished"
        "whitetokensfinished main blacktokensfinished";
}   
#whitetokensstart {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    grid-template-areas:
        "whttkn1 whttkn2 whttkn3"
        "whttkn4 whttkn5 whttkn6"
        "whttkntext whttkntext whttkntext";

}
#blacktokensstart {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    grid-template-areas:
        "blktkn1 blktkn2 blktkn3"
        "blktkn4 blktkn5 blktkn6"
        "blktkntext blktkntext blktkntext";
}
#whitetokensfinished {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    grid-template-areas:
        "whtcomptext whtcomptext whtcomptext"
        "whtcomp1 whtcomp2 whtcomp3"
        "whtcomp4 whtcomp5 whtcomp6";
    align-self: flex-end;
}
#blacktokensfinished {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    grid-template-areas:
        "blkcomptext blkcomptext blkcomptext"
        "blkcomp1 blkcomp2 blkcomp3"
        "blkcomp4 blkcomp5 blkcomp6";
    align-self: flex-end;
}
main {
    display: grid;
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(3, 80px);
    grid-template-areas: 
        "w4 f5 b4"
        "w3 f6 b3"
        "w2 f7 b2"
        "w1 f8 b1"
        "blank1 f9 blank2"
        "blank3 f10 blank4" 
        "w14 f11 b14"
        "w13 f12 b13";
    justify-self: center;
}
.boarddivs {
    border: 1px solid black;
}

.tknbox {
    border: 1px solid black;
}

#w1 {
    grid-area: w1;
}
#w2 {
    grid-area: w2;
}
#w3 {
    grid-area: w3;
}
#w4 {
    grid-area: w4;
}
#w13 {
    grid-area: w13;
}
#w14 {
    grid-area: w14;
}
#f5 {
    grid-area: f5;
}
#f6 {
    grid-area: f6;
}
#f7 {
    grid-area: f7;
}
#f8 {
    grid-area: f8;
}
#f9 {
    grid-area: f9;
}
#f10 {
    grid-area: f10;
}
#f11 {
    grid-area: f11;
}
#f12 {
    grid-area: f12;
}
#b1 {
    grid-area: b1;
}
#b2 {
    grid-area: b2;
}
#b3 {
    grid-area: b3;
}
#b4 {
    grid-area: b4;
}
#b13 {
    grid-area: b13;
}
#b14 {
    grid-area: b14;
}
#blank1 {
    grid-area: blank1;
}
#blank2 {
    grid-area: blank2;
}
#blank3 {
    grid-area: blank3;
    align-self: flex-end; 
}
#blank4 {
    grid-area: blank4;
    align-self: flex-end;
}

#whttkn1 {
    grid-area: whttkn1;
}
#whttkn2 {
    grid-area: whttkn2;
}
#whttkn3 {
    grid-area: whttkn3;
}
#whttkn4 {
    grid-area: whttkn4;
}
#whttkn5 {
    grid-area: whttkn5;
}
#whttkn6 {
    grid-area: whttkn6;
}
#whttkntext {
    grid-area: whttkntext;
    
}
#blktkn1 {
    grid-area: blktkn1;
}
#blktkn2 {
    grid-area: blktkn2;
}
#blktkn3 {
    grid-area: blktkn3;
}
#blktkn4 {
    grid-area: blktkn4;
}
#blktkn5 {
    grid-area: blktkn5;
}
#blktkn6 {
    grid-area: blktkn6;
}
#blktkntext {
    grid-area: blktkntext;
}
#whitetokensstart {
    grid-area: whitetokensstart;
}
#blacktokensstart {
    grid-area: blacktokensstart;
    justify-self: end;
}
#whitetokensfinished {
    grid-area: whitetokensfinished;
}
#blacktokensfinished {
    grid-area: blacktokensfinished;
    justify-self: end;
}
#whtcomp1 {
    grid-area: whtcomp1;
}
#whtcomp2 {
    grid-area: whtcomp2;
}
#whtcomp3 {
    grid-area: whtcomp3;
}
#whtcomp4 {
    grid-area: whtcomp4;
}
#whtcomp5 {
    grid-area: whtcomp5;
}
#whtcomp6 {
    grid-area: whtcomp6;
}
#whtcomptext {
    grid-area: whtcomptext;
    align-self: flex-end;
}
#blkcomp1 {
    grid-area: blkcomp1;
}
#blkcomp2 {
    grid-area: blkcomp2;
}
#blkcomp3 {
    grid-area: blkcomp3;
}
#blkcomp4 {
    grid-area: blkcomp4;
}
#blkcomp5 {
    grid-area: blkcomp5;
}
#blkcomp6 {
    grid-area: blkcomp6;
}
#blkcomptext {
    grid-area: blkcomptext;
    align-self: flex-end;
}