body {
    display: grid;
    grid-template-rows: repeat(5, 160px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "whitetokensstart main blacktokensstart"
        "whitetokensstart main blacktokensstart"
        "whitediceroll main blackdiceroll"
        "whitetokensfinished main blacktokensfinished"
        "whitetokensfinished main blacktokensfinished";
}   

body::after {
    content: "";
    background-image: url("../img/Mesopotamia.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 

}
#whitetokensstart {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "whttkn1"
        "whttkntext";

}

#whttkntext {
    font-size: 2em;
}

#blktkntext {
    font-size: 2em;
}
#blacktokensstart {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "blktkn1"
        "blktkntext";
}
#whitetokensfinished {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "whtcomptext"
        "whtcomp1";
    align-self: flex-end;
}
#blacktokensfinished {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(1, 250px);
    grid-template-areas:
        "blkcomptext"
        "blkcomp1";
    align-self: flex-end;
}
main {
    display: grid;
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(3, 80px);
    grid-template-areas: 
        "w4 f5 b4"
        "w3 f6 b3"
        "w2 f7 b2"
        "w1 f8 b1"
        "blank1 f9 blank2"
        "blank3 f10 blank4" 
        "w14 f11 b14"
        "w13 f12 b13";
    justify-self: center;
}
button {
    font-family: 'Cinzel', serif;
    font-size: 1em;
    font-weight: 900;
}

.dicebutton {
    width:40px;

}

#blackdicebtn {
    background-color: black;
    color: white;
}

#functiontestbutton2 {
    background-color: black;
    color: white;
}


#blackmovebox {
    height: 1em;
    font-size: 2em;
    width:50px;
    align-self: baseline;
}

#whitemovebox {
    height: 1em;
    font-size: 2em;
    width: 50px;
}
.boarddivs {
    border: 1px solid black;
    background-color: rgba(225, 218, 209, 0.7);
}

.whitedivs {
    border-left: 5px solid gray;
    background-color: rgba(255, 255, 255, 0.7);
}

.blackdivs {
    border-right: 6px solid saddlebrown;
    background-color: rgba(255, 255, 255, 0.7) 
}

.tknbox {
    border: 1px solid black;
}

.dicediv {
    display: inline;
}

#w1 {
    grid-area: w1;
    border-bottom: 6px solid black;
    
}
#w2 {
    grid-area: w2;
    
}
#w3 {
    grid-area: w3;
    
}
#w4 {
    grid-area: w4;
    border-top: 6px solid black;
    background-image: url("../img/Rosette7.png");
    background-size: cover;
    
}
#w13 {
    grid-area: w13;
    border-bottom: 6px solid black;
    
    
}
#w14 {
    grid-area: w14;
    border-top: 6px solid black;
    background-image: url("../img/Rosette7.png");
    background-size: cover;
    
}
#f5 {
    grid-area: f5;
    border-top: 6px solid black;
}
#f6 {
    grid-area: f6;
}
#f7 {
    grid-area: f7;
}
#f8 {
    grid-area: f8;
    background-image: url("../img/Rosette7.png");
    background-size: cover;
}
#f9 {
    grid-area: f9;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#f10 {
    grid-area: f10;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#f11 {
    grid-area: f11;
}
#f12 {
    grid-area: f12;
    border-bottom: 6px solid black;
}
#b1 {
    grid-area: b1;
    border-bottom: 6px solid black;
}
#b2 {
    grid-area: b2;
}
#b3 {
    grid-area: b3;
}
#b4 {
    grid-area: b4;
    border-top: 6px solid black;
    background-image: url("../img/Rosette7.png");
    background-size: cover;
}
#b13 {
    grid-area: b13;
    border-bottom: 6px solid black;
}
#b14 {
    grid-area: b14;
    border-top: 6px solid black;
    background-image: url("../img/Rosette7.png");
    background-size: cover;
}
#blank1 {
    grid-area: blank1;
}
#blank2 {
    grid-area: blank2;
}
#blank3 {
    grid-area: blank3;
    align-self: flex-end; 
}
#blank4 {
    grid-area: blank4;
    align-self: flex-end;
}

#whttkn1 {
    grid-area: whttkn1;
    
}

#whttkntext {
    grid-area: whttkntext;
}
#blktkn1 {
    grid-area: blktkn1;
    
}
#blktkntext {
    grid-area: blktkntext;
}
#blacktokensstart {
    grid-area: blacktokensstart;
    justify-self: end;
}
#whitetokensfinished {
    grid-area: whitetokensfinished;
}
#blacktokensfinished {
    grid-area: blacktokensfinished;
    justify-self: end;
}
#whtcomp1 {
    grid-area: whtcomp1;
}
#whtcomptext {
    grid-area: whtcomptext;
    align-self: flex-end;
    font-size: 2em;
}
#blkcomp1 {
    grid-area: blkcomp1;
}
#blkcomptext {
    grid-area: blkcomptext;
    align-self: flex-end;
    font-size: 2em;
}
#whitediceroll {
    grid-area: whitediceroll;
}
#blackdiceroll {
    grid-area: blackdiceroll;
    justify-self: end;
}

.whitecircle {
    background-color:whitesmoke;
    border-radius: 100px;    
}

.blackcircle {
    background-color: black;
    border-radius: 100px;
}

#functiontestbutton {
    width: 100px;
    height: 50px;
}
#functiontestbutton2 {
    width: 100px;
    height: 50px;
}
.dicebutton {
    width: 50px;
    height: 50px;
}

.dicediv {
    background-color: aliceblue;
    font-size: xx-large;

}


.text {
    font-family: 'Cinzel', serif;
    font-size: 1em;
    font-weight: 900;
}
